a(class='ancora' id='comoChegar-ancora')
section(class='comoChegar')
     div(class='map') 
          iframe(src='https://www.google.com/maps/d/embed?mid=1ScIK9PWoH7gmRRycVvw9XLzRBTw')
     div(class='content')
          div(class='container')
               div(class='row')
                    div(class='col doze')
                         div(class='row')
                             h2!= '<strong>Venha nos visitar!</strong>'
                         div(class='row')
                              p R. Mariz e Barros, 273
                              p Praça da Bandeira - Rio de Janeiro, RJ
                              p 20270-006
                         div(class='row')
                              p!= '<i class="fa fa-phone"></i> 555 0123'
                              p!= '<i class="fa fa-clock-o"></i> Aberto de 10:00 às 20:00'
