a(class='ancora' id='conheca-ancora')
section(class='conheca')
     div(class='container')
          div(class='row')
               div(class='col doze center wrap')
                    h2(class='bold') Que delícia de suco, cara!
                    h4(class='semibold italic')!= 'Prove um suco de groselha que parece de limão e tem gosto de tamarindo'
          div(class='row')
               div(class='col seis wrap')
                    p!= 'Não há maior alegria que se deliciar de algo saboroso, exceto quando esse algo se acumula nos seus quadris. Por isso, nosso maior objetivo é oferecer sucos naturais retirados diretamente das frutas, livres de quaisquer aditivos e conservantes, acompanhado de sanduíches saudáveis, conciliando a eterna disputa entre o sabor e as longas cadeias de polissacarídios.'

               div(class='col seis wrap')
                    p!= 'Atendendo tanto aqueles que tem apetites mais humildes quanto os gênios criativos, nós contamos com mais de 25 sabores de suco diferentes e oferecemos a liberdade para combinar até 3 deles. Contamos também com sanduíches deliciosos como o <em>Big Kahuna Chester</em> e saladas especiais como a <em>Salada de Alface Standard</em>, além de diversos combos. Então prove antes que acabe! (Ou a cozinha feche).'