a(class='ancora' id='descontos-ancora')
section(class='descontos')
     div(class='container-768')
          div(class='row')
               div(class='col doze wrap center')
                    h2(class='bold') Ganhe 250ml de qualquer sabor de suco sem pagar nada!              
                    picture
                         img(src='images/cupom.png')
          div(class='row')     
               ul(class='col doze wrap oe')
                    li!= '<p><strong>Peça um cupom: </strong>Quando você fizer uma visita à casa, não esqueça de pedir um cupom ao atendente.</p>'
                    li!= '<p><strong>Peça um suco: </strong>Peça qualquer sabor de suco de qualquer tamanho. Seu cupom será carimbado 1 vez. Repita o processo 8x até todos que todos os espaços estejam carimbados.</p>'
                    li!= '<p><strong>Troque o cupom: </strong>Troque o cupom por qualquer sabor de suco de 250ml ou ganhe um desconto de mesmo valor para tamanhos maiores!</p>'
