footer(class='footer')
     div(class='container')    
          div(class='row')
               div(class='col seis wrap')
                    p!= 'Email: <i>baldedossucos@gmail.com</i>'
                    p!= 'Telefone: <i>555 0123</i>'
               div(class='col seis wrap')
                    p Rua Mariz de Barros, 273
                    p Praça da Bandeira - Rio de Janeiro, RJ
                    p 20270-006
          div(class='row')
               div(class='col doze wrap')
                    p © Balde dos Sucos
