nav(class='nav')
     button(class='mobile-btn' id='mobile-btn')
          span
     div(class='logo')
          a(href='#home-ancora' data-scroll)
               img(src='images/logo.svg' class='logo-img')
     ul(class='nav-menu' id='nav-ul')                                   
          li(class='li--mobile-off')
               a(href='#home-ancora' data-scroll) Home
                    span(id='home')
          li(class='li--mobile-off')
               a(href='#conheca-ancora' data-scroll) Conheça
                    span(id='conheca')
          li(class='li--mobile-off') 
               a(href='#cardapio-ancora' data-scroll) Cardápio
                    span(id='cardapio')
          li(class='li--mobile-off')
               a(href='#descontos-ancora' data-scroll) Descontos
                    span(id='descontos')
          li(class='li--mobile-off')
               a(href='#comoChegar-ancora' data-scroll) Como Chegar
                    span(id='comoChegar')
          li(class='li--mobile-off')
               a(href='#contato-ancora' data-scroll) Contato
                    span(id='contato')                    
